<style>
    * {
        background-color: rgb(255, 149, 11);
    }
    
    .Forms {
        margin-top: -70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .Title label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Title input {
        border-radius: 20px;
        background-color: #fff;
        width: 150px;
        height: 20px;
    }
    
    .Description label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Description textarea {
        background-color: #fff;
        border-radius: 20px;
        width: 400px;
        height: 70px;
        border: 1.5px solid black;
    }
    
    .Markdown label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Markdown textarea {
        background-color: #fff;
        border-radius: 20px;
        width: 400px;
        height: 70px;
        border: 1.5px solid black;
    }
    
    .Submits {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 20px;
    }
    
    .Submits a {
        color: black;
        border-radius: 20px;
        text-decoration: none;
        border: 1.5px solid black;
        padding: 10px;
    }
    
    .Submits a:hover {
        color: #fff;
        transition: all 200ms ease-out;
        background-color: aquamarine;
        background-color: rgb(48, 48, 50);
    }
    
    .Submits button {
        padding: 10px;
        color: black;
        border-radius: 20px;
        border: 1.5px solid black;
        padding: 7px;
        width: 200px;
        transition: 200ms ease in;
        cursor: pointer;
    }
    
    .Submits button:hover {
        color: #fff;
        transition: all 200ms ease-out;
        background-color: aquamarine;
        background-color: rgb(48, 48, 50);
    }
    
    p {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


<div class="Forms">
    <div class="Title">
        <label for="title">Title</label>
        <input required value="<%= article.title %>
        " type="text" name="title" id="title">
    </div>
    <div class="Description">
        <label for="description">Description</label>
        <textarea name="description" id="description">
            <%= article.description %>
        </textarea>
    </div>
    <div class="Markdown">
        <label for="markdown">Markdown</label>
        <textarea required name="markdown" id="markdown">
            <%= article.markdown %>
        </textarea>
    </div>
</div>
<div class="Submits">
    <a href="/" class="Cancel">Cancel</a>
    <button type="submit" class="Submit">Save</button>
</div>
<footer>
    <p>All Rights reserved to Igor Sobolewski S.A</p>
</footer>